################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SummationTask
/bin/Debug/net6.0
/obj
/.vs/ProjectEvaluation
